.search-bar {
  background: transparent;
  border-color: transparent;
  width: 80% !important;
  padding: 0;
  color: white;
  font-weight: bold;
  transition: width 0.4s;
}

.prepend,
.append {
  margin: auto;
}

.prepend {
  margin-right: 15px;
}

.append {
  margin-left: 15px;
  cursor: pointer;
  button {
    background: transparent;
    border: none;
    outline: none;

    &:disabled {
      opacity: 0.8;
    }
  }
}
