.Home {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  background-color: #ebe9d7;
}

.main-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
}
