.DetailCard {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 25px;
  padding: 15px;
}

.card-body {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-flow: column;
  padding: 5px;
  h5 {
    font-weight: bold;
  }
  small {
    font-size: 12;
    color: grey;
  }
}

.id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100px;
  text-align: center;
  margin-left: 20px;
  background-color: lightgreen;
  h3 {
    font-weight: bold;
    color: white;
  }
}

@media (min-width: 992px) {
  .DetailCard {
    width: 70%;
    margin-bottom: 25px;
    padding: 50px;
  }

  .card-body {
    width: 70%;
    margin-left: 45px;
  }

  .id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 150px;
    text-align: center;
    margin-left: 50px;
    background-color: lightgreen;
  }
}
