.Nav {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-image: linear-gradient(#ee4c77, #fc2d64);
  justify-content: space-between;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
}
